@model WebApplication1.Models.LIBRERIAS

@{
    ViewBag.Title = "Details";
}

<body style="background-color:#E8BB39;">
</body>
<h2>Details</h2>

<div>
    <h4>LIBRERIAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIBRO2.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBRO2.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO2.CONTRASEÑA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO2.CONTRASEÑA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
