@model IEnumerable<WebApplication1.Models.USUARIO2>

@{
    ViewBag.Title = "Tabla Usuario";
}

<body style="background-color:#E8BB39;">
</body>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTRASEÑA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRASEÑA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NOMBRE }) |
                @Html.ActionLink("Details", "Details", new { id = item.NOMBRE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NOMBRE })
            </td>
        </tr>
    }

</table>
